
.vs/ConsignmentShop/v16/.suo
ConsignmentShopLibrary/bin/Debug/netstandard2.0/ConsignmentShopLibrary.deps.json
ConsignmentShopLibrary/bin/Debug/netstandard2.0/ConsignmentShopLibrary.dll
ConsignmentShopLibrary/bin/Debug/netstandard2.0/ConsignmentShopLibrary.pdb
ConsignmentShopLibrary/obj/ConsignmentShopLibrary.csproj.nuget.dgspec.json
ConsignmentShopLibrary/obj/ConsignmentShopLibrary.csproj.nuget.g.props
ConsignmentShopLibrary/obj/ConsignmentShopLibrary.csproj.nuget.g.targets
ConsignmentShopLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.AssemblyInfo.cs
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.AssemblyInfoInputs.cache
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.assets.cache
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.csproj.CoreCompileInputs.cache
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.csproj.FileListAbsolute.txt
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.csprojAssemblyReference.cache
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.dll
ConsignmentShopLibrary/obj/Debug/netstandard2.0/ConsignmentShopLibrary.pdb
ConsignmentShopLibrary/obj/project.assets.json
ConsignmentShopLibrary/obj/project.nuget.cache
ConsignmentShopUI/bin/Debug/ConsignmentShopLibrary.dll
ConsignmentShopUI/bin/Debug/ConsignmentShopLibrary.pdb
ConsignmentShopUI/bin/Debug/ConsignmentShopUI.exe
ConsignmentShopUI/bin/Debug/ConsignmentShopUI.exe.config
ConsignmentShopUI/bin/Debug/ConsignmentShopUI.pdb
ConsignmentShopUI/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.ConsignmentShop.resources
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.csproj.CopyComplete
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.csproj.CoreCompileInputs.cache
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.csproj.FileListAbsolute.txt
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.csproj.GenerateResource.cache
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.csprojAssemblyReference.cache
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.exe
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.pdb
ConsignmentShopUI/obj/Debug/ConsignmentShopUI.Properties.Resources.resources
ConsignmentShopUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ConsignmentShopUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
